body {
  overflow-anchor: none;
}

#root {
  height: 100%;
}

.app {
  padding: 20px 30px;
  height: 100%;
}

.chat-container {
  display: flex;
  overflow: auto;
  height: 100%;
}

.chat-settings {
  flex-grow: 0;
  width: 200px;
}

.chat-messages {
  flex-grow: 1;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
