#root {
  height: 100%;
}

.app {
  padding: 20px 30px;
  height: 100%;
}

.chat-container {
  display: flex;
  overflow: auto;
  height: 100%;
}

.chat-settings {
  flex-grow: 0;
  width: 200px;
}

.chat-messages {
  flex-grow: 1;
}
