#root {
  height: 100%;
}

.app {
  padding: 40px 80px 50px;
  height: 100%;
}

.chat-container {
  overflow: auto;
  height: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
